article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.wrapper {
	max-width: 1040px;
	margin: 0 auto;
}
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
	color: white;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

li{
	list-style: none;
}

h1 {
	color: #f0917a;
}
h1,
h2 {
	text-align: left;
}
a {
	text-decoration: none;
}
h1,
h3 {
	margin: 0;
}
img {
	max-width: 100%;
	border: 3px solid black;
	border-radius: 4px;
}

a img:hover,
a img:focus {
	border: 3px solid #f0917a;
}
/* *** (mostly) NewListPage Section Styles are below *** */
nav ul a {
	color: white;
}
nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
nav ul a,
nav ul a,
button,
input {
	border: 2px solid rgba(0,0,0,1);
}
nav ul a:hover,
nav ul a:focus {
	color: #f0917a;
}
input {
	font-size: 1.5rem;
	padding: 10px 0;
	border-radius: 5px;
}	
input:focus {
	border: 2px solid rgba(240,145,122,1);
	box-shadow: 2px 2px 2px 0px rgba(240,145,122,1);
}

.tvTitles {
	display: flex;
	flex-direction: column;
	margin: 0 3px;
}
.showName {
	text-align: center;
}
.listButton,
button {
	font-weight: 700;
	background-color: #86c2ae;
	border: 1px solid black;
	padding: 15px 25px;
	border-radius: 2px;
	text-transform: uppercase;
}
.listButton:hover,
button:hover {
	background-color: black;
	color: #86c2ae;
	transition: 0.5s;
	box-shadow: #577f90 4px 4px;
}
.listButton:active,
button:active {
	box-shadow: none;
}
.buttonSpace {
	margin-right: 8px;
}
.addToList {
	margin-bottom: 60px;
}
.listSearchBar {
	border: 1px solid white;
	padding: 15px 25px;
	border-radius: 5px; 
}
.listVsChoicesFlex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 25px;
}
.searchBarFlex {
	display: flex;
	justify-content: space-around;
}
.searchResults {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.listPageSearchFlex {
	display: flex;
	justify-content: space-between;
	min-width: 100%;
	margin: 0 2px;
}
.listPageTopFlex {
	display: flex;
	justify-content: space-between;
	margin: 60px 0 30px 0;
}
.listPageFlex,
.listPageFlex2,
.listPageFlex5 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.userList,
.userOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	margin: 25px 2px 0;
	border: 3px solid white;
	width: calc(100% / 2 - 4px);
	height: auto;
}
.bolded {
	font-weight: 700;
}


/* ***End of Blair's NewListPage Stylings*** */

/* **Blair TvShow Details *** */

.flex-parent,
.button-flex {
	display: flex;
}
.flex-parent-info {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0 0 0 15px;
	width: 75%;
}
.flex-parent img {
	max-height: 300px;
	min-height: 299px;
}
/* **END Blair TvShow Details *** */
.showScroll{
	display: flex;
}

/* TO USE THESE VARIABLES*/

/*

element {
	background-color: var(--primaryColor);
}

*/


.scrollWrapper {
	position: relative;
	max-width: 100vw;
	margin: 1em auto;
	border: 1px solid white;
	overflow-x: hidden;
	overflow-y: hidden;
}
.showScroll	{ 
	background: black;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
.item {
	display: inline-block;
	width: 100px;
	height: 100%;
	outline: 1px dotted gray;
	padding: 1em;
	box-sizing: border-box;
}

:root {
	--primaryColor: #577f90;
	--secondaryColor: #86c2ae;
	--primaryAccent: #f0917a;
}