body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tv-titles {
  display: inline-block;
}

/* .wrapper {
  max-width: 1040px;
  margin:0 auto;

} */

h1,
h2 {
  text-align: left;
}


.showScroll{
  display: flex;
}

/* TO USE THESE VARIABLES*/

/*

element {
  background-color: var(--primaryColor);
}

*/

:root {
  --primaryColor: #577f90;
  --secondaryColor: #86c2ae;
  --primaryAccent: #f0917a;
}