body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tv-titles {
  display: inline-block;
}

/* .wrapper {
  max-width: 1040px;
  margin:0 auto;

} */


/* *** Blair - NewListPage Section Styles are below *** */

nav ul {
	justify-content: flex-end;
}
ul {
	list-style-type: none;
	padding: 5%;
}

a {
	text-decoration: none;
	color: black;
}

/* li {
	border: 1px solid black;
} */

h1,
h3 {
	margin: 0;
}

.listButton {
	font-weight: 700;
	background-color: #86c2ae;
	border: 1px solid black;
	padding: 1px 10px;
	border-radius: 5px;
}

.listButton:hover {
	background-color: black;
	color: #86c2ae;
	transition: 0.5s;
}

.listSearchBar {
	border: 1px solid black;
}

.listVsChoicesFlex {
	display: flex;
}

.listPageFlex,
.searchBarFlex {
	display: flex;
	justify-content: space-around;
}

.listPageFlex {
	justify-content: space-between;
}

.listPageFlex4 {
	display: flex;
	flex-direction: column;
}

.listPageFlex2,
.listPageFlex5 {
	display: flex;
	justify-content: space-around;
}

.listPageFlex3 {
	display: flex;
	margin-top: 25px;
}

.userList,
.userOptions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 5px;
	border: 3px solid black;
	margin-top: 25px;
	min-width: 100%;
}

.userList {
	margin-right: 5%;
}
.userOptions {
	margin-left: 5%;
}


/* ***End of Blair's NewListPage Stylings*** */

h1,
h2 {
  text-align: left;
}


.showScroll{
  display: flex;
}

/* TO USE THESE VARIABLES*/

/*

element {
  background-color: var(--primaryColor);
}

*/


.scrollWrapper {
	position: relative;
	max-width: 100vw;
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.showScroll	{ 
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
	.item {
		display: inline-block;
		width: 100px;
		height: 100%;
		outline: 1px dotted gray;
		padding: 1em;
		box-sizing: border-box;
	}

/* ------------------------------------ARROW SCROLL BUTTONS-----------------------------*/

:root {
  --primaryColor: #577f90;
  --secondaryColor: #86c2ae;
  --primaryAccent: #f0917a;
}